modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-drive:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 90000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_ACOS9rB2bZjL@ep-misty-dust-abx99wzf-pooler.eu-west-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
